@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.my_custom_scrollbar::-webkit-scrollbar {
  width: 5px;
}

.my_custom_scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

.my_custom_scrollbar::-webkit-scrollbar-thumb {
  background: #d7d2d2; 
  border-radius: 5px; 
}

.my_custom_scrollbar_width_zero::-webkit-scrollbar {
width: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


